{% extends 'base.html' %} {% load static %}
{% block content %}

 <!--Main layout-->
<main>
    <!--Grid row-->
    <div class="row">
        <div class="col-md-12 pb-3">
            <img src="{% static 'img/Sajan Subba.jpeg'%}" class="img-responsive pb-3">

            <div class="social-icons pull-right mt-5">
                <!-- <a href="https://facebook.com/saazan14" target="_blank" alt="facebook"><i class="icon"></i></a> -->
                <a href="https://twitter.com/saazan14" target="_blank" alt="twitter"><i class="icon1"></i></a>
                <!-- <a href="#" alt="google+"><i class="icon2"></i></a> -->
                <!--  <a href="#"><i class="icon3"></i></a> -->
            </div>
            <h1>SAJAN SUBBA</h1>
            <p><i class="fa fa-briefcase"></i> Full Stack Web Developer</p>
            <hr/>

        </div>

    </div>
    <!--Grid row-->
</main>
<!--Main layout-->
{% endblock %}